body {
    background: rgb(193, 211, 235);
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: yellow;
    text-align: center;
    }

    .projects { 
        display:flex; 
        flex-wrap:wrap; } 
    .project {
        width: 30%;
        margin: 10px;
        padding: 20px 10px;
        background: rgb(105, 99, 99); /* pick a color */
        border-radius: 25%;
    }